
body {
    margin-top:50px;
}
ul {
    padding:0px;
    margin-bottom: 0;
}
ul li{
    border:1px solid blue;
    list-style-type: none
    padding 5px;
}
h1 {text-align: center;}
input { border:none; width: 100%}

lista {
        display: flex;
        justify-content: space-between;
        padding: 4px 6px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    
}